@use "../setting" as s;

/*カバー------------------*/
.cover {
    position: relative;
    background-image: url("../images/cover/cover_image_sp.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: s.vw(450);
    margin-top: s.vw(60);
    @include s.rs(
        (
            background-image: url("../images/cover/cover_image_pc.jpg"),
            height: s.vwp(698),
            margin-top: s.mvw(94),
        )
    );
    &__inner {
        position: absolute;
        top: 19%;
        left: 34%;
        @include s.rs(
            (
                top: 32%,
                left: 36%,
            )
        );
    }
    &__title {
        color: white;
        text-align: start;
        font-size: s.vw(48);
        font-weight: 500;
        line-height: 1;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        @include s.rs(
            (
                font-size: s.vwp(48),
            )
        );
        &--big {
            font-size: s.vw(64);
            @include s.rs(
                (
                    font-size: s.vwp(64),
                )
            );
        }
        &--small {
            font-size: s.vw(40);
            font-weight: 700;
            @include s.rs(
                (
                    font-size: s.vwp(40),
                )
            );
        }
        &--br {
            display: block;
        }
    }
}

/*お知らせ------------------*/
.news {
    &__list {
        margin-bottom: s.vw(40);
        @include s.rs(
            (
                margin-bottom: s.mvw(80),
            )
        );
        &-item {
            width: 100%;
            border-bottom: solid s.vw(1) s.$color-gray;
            padding-inline: s.vw(5);
            padding-block: s.vw(8);
            @include s.rs(
                (
                    border-bottom: solid s.mvw(1) s.$color-gray,
                    padding-inline: s.mvw(5),
                    padding-block: s.mvw(14),
                )
            );
        }
    }
    &__label {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: s.vw(16);
        margin-bottom: s.vw(6);
        @include s.rs(
            (
                gap: s.mvw(16),
                margin-bottom: s.mvw(6),
            )
        );
    }
    &__date {
        font-size: s.vw(14);
        @include s.rs(
            (
                font-size: s.mvw(14),
            )
        );
    }
    &__category {
        display: flex;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: s.vw(6);
        height: s.vw(23);
        font-size: s.vw(12);
        text-align: center;
        @include s.rs(
            (
                gap: s.mvw(6),
                height: s.mvw(23),
                font-size: s.mvw(14),
            )
        );
        &-item {
            min-width: s.vw(64);
            border-radius: s.vw(4);
            padding-inline: s.vw(8);
            background-color: s.$color-gray;
            @include s.rs(
                (
                    min-width: s.mvw(64),
                    border-radius: s.mvw(4),
                    padding-inline: s.mvw(8),
                )
            );
        }
        &-notice {
            background-color: s.$color-gray;
        }
        &-important {
            color: s.$color-white;
            background-color: s.$color-green;
        }
    }
    &__title {
        font-size: s.vw(16);
        @include s.rs(
            (
                font-size: s.mvw(16),
                font-weight: 700,
            )
        );
    }
}
