@use "../setting" as s;

/* リセット------------------ */
a,
button {
    color: s.$color-black;
    text-decoration: none;
    // リンクホバー時
    &:hover {
        opacity: 0.5;
    }
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* bodyフォント・ボックスサイジング */
body {
    box-sizing: border-box;
    font-size: s.vw(16);
    line-height: 1.6;
    color: s.$color-black;
    font-family: "Noto Sans JP", sans-serif;
    @include s.rs(
        (
            font-size: s.mvw(16),
        )
    );
}

/*共通------------------*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: s.vw(70);
    @include s.rs(
        (
            scroll-padding-top: s.mvw(100),
        )
    );
}

.main {
    min-height: calc(100vh - s.vw(260)); // フッター+コンタクト帯の高さ分を引く
    padding-top: s.vw(60);
    // タブレット用
    @include s.mq() {
        min-height: calc(100vh - s.vwt(260));
        padding-top: s.vwt(94);
    }
    // PC用
    @include s.mq(lg) {
        min-height: calc(100vh - s.px2Rem(260));
        padding-top: s.px2Rem(94);
    }
    &--height {
        min-height: calc(100vh - s.vw(42)); // フッターの高さ分を引く
        // タブレット用
        @include s.mq() {
            min-height: calc(100vh - s.vwt(42));
        }
        // PC用
        @include s.mq(lg) {
            min-height: calc(100vh - s.px2Rem(42));
        }
    }
}

.active-link {
    color: s.$color-green;
    text-decoration: underline;
}

/*コンタクトボタン*/
.contact__button {
    display: block;
    width: s.vw(200);
    height: s.vw(46);
    background-color: s.$color-green;
    color: s.$color-white;
    text-align: center;
    line-height: s.vw(46);
    border-radius: s.vw(50);
    margin-inline: auto;
    @include s.rs(
        (
            width: s.mvw(200),
            height: s.mvw(46),
            line-height: s.mvw(46),
            border-radius: s.mvw(50),
        )
    );
}

/*moreボタン*/
.more__button {
    display: block;
    width: s.vw(100);
    height: s.vw(46);
    background-color: s.$color-green;
    color: s.$color-white;
    text-align: center;
    line-height: s.vw(46);
    border-radius: s.vw(50);
    margin-inline: auto;
    @include s.rs(
        (
            width: s.mvw(100),
            height: s.mvw(46),
            line-height: s.mvw(46),
            border-radius: s.mvw(50),
        )
    );
}

/*セクション*/
.section {
    padding-top: s.vw(60);
    padding-bottom: s.vw(120);
    @include s.rs(
        (
            padding-top: s.mvw(60),
            padding-bottom: s.mvw(120),
        )
    );
    &__wrapper {
        padding-inline: s.vw(30);
        @include s.rs(
            (
                padding-inline: s.mvw(40),
                max-width: s.mvw(1000),
                margin-inline: auto,
            )
        );
    }
    &__text {
        &--bold {
            font-weight: 700;
        }
    }
}

/*セクションタイトル*/
.section-title {
    font-size: s.vw(48);
    text-align: center;
    margin-bottom: s.vw(40);
    @include s.rs(
        (
            font-size: s.mvw(48),
            margin-bottom: s.mvw(40),
        )
    );
    &__main {
        display: block;
        font-weight: 700;
    }
    &__sub {
        display: block;
        font-size: s.vw(14);
        font-weight: 400;
        color: s.$color-green;
        @include s.rs(
            (
                font-size: s.mvw(14),
            )
        );
    }
}
