@use "../setting" as s;

/* リセット------------------ */
a,
button {
    color: s.$color-black;
    text-decoration: none;
    // リンクホバー時
    &:hover {
        opacity: 0.5;
    }
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* bodyフォント・ボックスサイジング */
body {
    box-sizing: border-box;
    font-size: s.vw(16);
    line-height: 1.6;
    color: s.$color-black;
    font-family: "Noto Sans JP", serif;
    @include s.rs(
        (
            font-size: s.mvw(16),
        )
    );
}

/*共通------------------*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: s.vw(10);
    @include s.rs(
        (
            scroll-padding-top: s.mvw(80),
        )
    );
}

/*to-topボタン*/
.to-top-button {
    position: sticky;
    bottom: s.vw(42);
    left: 0;
    z-index: 999;
    display: none;
    opacity: 0;
    @include s.rs(
        (
            bottom: s.mvw(42),
        )
    );
    &__wrapper {
        display: flex;
        justify-content: flex-end;
        padding-right: s.vw(20);
        @include s.rs(
            (
                padding-right: s.mvw(40),
            )
        );
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: s.vw(40);
        height: s.vw(40);
        background-color: s.$color-green;
        @include s.rs(
            (
                width: s.mvw(40),
                height: s.mvw(40),
            )
        );
        &-icon {
            width: s.vw(32);
            height: s.vw(32);
            color: s.$color-white;
            @include s.rs(
                (
                    width: s.mvw(32),
                    height: s.mvw(32),
                )
            );
        }
    }
    &.show {
        display: block;
        opacity: 1;
    }
}

/*コンタクトボタン*/
.contact__button {
    display: block;
    width: s.vw(200);
    height: s.vw(46);
    background-color: s.$color-green;
    color: s.$color-white;
    text-align: center;
    line-height: s.vw(46);
    border-radius: s.vw(50);
    margin-inline: auto;
    @include s.rs(
        (
            width: s.mvw(200),
            height: s.mvw(46),
            line-height: s.mvw(46),
            border-radius: s.mvw(50),
        )
    );
}

/*moreボタン*/
.more__button {
    display: block;
    width: s.vw(100);
    height: s.vw(46);
    background-color: s.$color-green;
    color: s.$color-white;
    text-align: center;
    line-height: s.vw(46);
    border-radius: s.vw(50);
    margin-inline: auto;
    @include s.rs(
        (
            width: s.mvw(100),
            height: s.mvw(46),
            line-height: s.mvw(46),
            border-radius: s.mvw(50),
        )
    );
}

/*セクション*/
.section__wrapper {
    margin-top: s.vw(120);
    padding-inline: s.vw(20);
    @include s.rs(
        (
            margin-top: s.mvw(120),
            padding-inline: s.mvw(40),
            max-width: s.mvw(1000),
            margin-inline: auto,
        )
    );
}

/*セクションタイトル*/
.section-title {
    font-size: s.vw(48);
    text-align: center;
    margin-bottom: s.vw(40);
    @include s.rs(
        (
            font-size: s.mvw(48),
            margin-bottom: s.mvw(40),
        )
    );
    &__main {
        display: block;
        font-weight: 700;
    }
    &__sub {
        display: block;
        font-size: s.vw(14);
        font-weight: 400;
        color: s.$color-green;
        @include s.rs(
            (
                font-size: s.mvw(14),
            )
        );
    }
}
